
/* ====================================================
  Google Fonts
==================================================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ..................................
  Template Default CSS 
.................................. */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

p {
  line-height: 26px;
  color: #343434;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  display: inline-block;
  cursor: pointer;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
}

.section-padding-top {
  padding-top: 100px;
}

.section-padding-bottom {
  padding-bottom: 100px;
}



/* ..................................
  header css 
.................................. */

/* stcky navbar addclass*/

.responsive{color: #f7a30a;
  font-size: 40px;
  margin-left:-60px
}
.navbar-fixed-top{
  background:#021D38;;height:75px;width: 100%
 } 

 
.header-area {
  color: #fff;
}

.tel {
  font-size: 17px;
  margin-left: 18px;
  font-weight: 500;
}

.logo {
  padding: 17px 35px;
  font-size: 34px;
  font-weight: 700;
 background: #f7a30a;
  
}



.header-area  ul li a {
  text-transform: capitalize;
  padding: 0 20px !important;
  font-size: 15px;
  font-weight: 500;
 
}




/* ..................................
 home css
.................................. */
.home {
  background-image: url(../img/bg-intro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
  padding: 200px 0;
}

.home:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(3, 6, 28, 0.7), rgba(3, 6, 28, 0.9));
  z-index: -1;

}

.home-text h3 {
  font-size: 26px;
  color: #f7a30a;
  font-weight: 600;
}

.home-text h1 {
 font-size: 60px;  
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
  padding: 25px;
}

.home-text p {
  font-size: 17px;
  line-height: 34px;
  color: #fff;
  
}

.home-text button {
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
 padding: 18px 45px;
  margin-left:15px;
 margin-top: 30px;
}

.lern-btn{
  background: #f7a30a;
  position: relative;
}

.lern-btn:before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  height: 100%;
  width: 0;
  z-index: -1;
  transition: .5s;
  background-color: #fff;
  
  
}
.lern-btn:hover {
  color: #f7a30a;
  background: transparent;
}

.lern-btn:hover:before {
  width: 100%;
 

}

.cont-btn {
  background: transparent;
  border: 2px solid #f7a30a;
  columns: #fff
}



/* ..................................
 about css
.................................. */

.about-title {
  padding-bottom: 60px;
}

.about-title h2 {
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 600;
  color: #333;
  
}

.about-title h2 span {
  color: #f7a30a;
}

.about-title h5 {
  color: #333;
  font-size: 20px;
  font-weight: 500;
  
}

.about-title p {
  line-height: 30px;
}

.about-back {
  background: #fff;
  padding: 0 40px 40px 35px;
}

.about-left p {
  margin-bottom: 50px;
}

.about-left li {
  display: block;
  padding: 0 0 25px 36px;
  position: relative;
}

.about {
  position: relative;
  z-index: 1;
}

.about:before {
  position: absolute;
   left: 0;
  bottom: 0;
   z-index: -1;
  content: '';
  background: #f7a30a;
  height: 250px;
  width: 100%;
  
 
}


.about-left li:before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Font Awesome 5 Free';
  content: '\f00c';
  font-weight: 700;
  font-size: 15px;
}

.about-img img {
  margin-top: 30px;
}



/* ..................................
 service css
.................................. */


.service-title h2{
    font-size: 40px;
    font-weight: 600;
    color:#333;
}
  
.service-title span{
    color: #f7a30a;
}

.service-title p{
   font-size: 15px;
    width: 630px;
    margin: 0 auto;
    line-height: 32px;
    margin-bottom: 60px;
    
}
    

.service-content-bg i{
    font-size: 54px;
    color: #f7a30a;
       
}

.service-content-bg h4{
    margin:30px 35px 20px ;
}

.service-content-bg p{
    color: #343434;
    font-size: 14px;
    font-weight: 400;
}

.single-service-bg{
    background: #fff;
    text-align: center;
    padding: 30px;
   box-shadow: 0 0 14px #ccc;
}

.single-service-bg-2{
    background: #f7a30a;
    color: #fff;
     padding: 30px;
    text-align: center;
}

.single-service-bg-2 p {
    color: #fff;
}

.single-service-bg-2 i{
    color: #fff
}


/* ..................................
  work css
.................................. */

.work-title {
  background: #111;
  padding: 100px 0 50px 0;
}

.work-title h2 span{
    color: #f7a30a;
}

.work-title h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: #fff
}

.work-title p{
    width: 600px;
    font-size: 15px;
    line-height: 32px;
    margin-left:25%;
    color: #fff
   
    
}

.single-work-item {
  color: #fff;
  display: table;
   text-align: center;
 background: url(../img/work/work1.jpg);
  height: 320px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 cursor: pointer;
  transition: 1s;
}

.hover-content {
  display: none;
  vertical-align: middle;
  background: #f7a30a;
  height: 100%;
  width: 100%;
  
  
}

.single-work-item:hover .hover-content {
  display: table-cell;
  transition: 1s;
}

.work-1{
  background-image: url(../img/work/work1.jpg);
}

.work-2 {
  background-image: url(../img/work/work2.jpg);
}

.work-3 {
  background-image: url(../img/work/work3.jpg);
}

.work-4 {
  background-image: url(../img/work/work4.jpg);
}

.work-5 {
  background-image: url(../img/work/work5.jpg);
}

.work-6 {
  background-image: url(../img/work/work6.jpg);
}



/* ..................................
 features CSS 
.................................. */

.feature-title{
  margin-bottom: 90px
}

.feature-title h2 span{
    color: #f7a30a;
}

.feature-title h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: #333
}

.feature-title p{
    width: 600px;
    font-size: 15px;
    line-height: 32px;
    margin-left:25%;
    color: #333
   
    
}

.features-left h4 {
  font-size: 24px;
  padding-bottom: 14px;
  color: #111111;
}

.features-left p {
  padding-bottom: 30px;
}

.single-feature-item i {
  height: 70px;
  width: 70px;
  text-align: center;
  line-height: 75px;
  border-radius: 7px;
  color: #F7A30A;
  font-size: 34px;
  background: #021D38;
 
}

.single-feature-item h4 {
   font-size: 20px;
}

.features-icon {
   margin-right: 33px;
  margin-top: 13px;
  float: left;
 
}

.features-right {
  margin-left:50px;
 }

.features-right img {
  width: 100%;
  height: 700px
}

/* ..................................
 blog CSS 
.................................. */

.blog-title{
  margin-bottom: 90px
}

.blog-title h2 span{
    color: #f7a30a;
}

.blog-title h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: #333
}

.blog-title p{
    width: 600px;
    font-size: 15px;
    line-height: 32px;
    margin-left:25%;
    color: #333
   
    
}


.blog {
  background: #F5F3FD;
}

.single-blog-item {
  border-radius: 5px;
  background: #ffff;
}

.blog-img {
  overflow: hidden;
height: 270px
}

.blog-content {
  padding: 30px;
}

.blog-content h4 {
  font-size: 20px;
  line-height: 30px;
}

.blog-content span {
   margin-bottom: 10px;
  display: block;
}

/* ..................................
 footer CSS 
.................................. */

footer {
  background: #041F3B;
}

.single-footer {
  color: #fff;
  padding-bottom: 50px;
}

.single-footer p {
  color: #fff;
  opacity: .7;
}

.footer-logo {
color: #f7a30a;
font-size: 32px;
font-weight: 700;
position: relative;
top: -8px;
}
.footer-text p{
  color: #bbb;
font-size: 15px
}

.single-footer h4 {
  font-size: 27px;
  text-transform: capitalize;
  padding-bottom: 20px;
}

.single-footer li {
  display: block;
  padding-bottom: 20px;
  color: #bbb;
  font-weight: 600;
}

.single-footer li a {
  text-transform: capitalize;
}

.single-footer i {
  padding-right: 14px;
}

.copyright-text {
  padding: 30px 0;
  border-top: 1px solid #2d4258;
  text-align: center;
}

.copyright-text p {
  color: #fff;
}